.footer{
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: rgb(252, 252, 252);
    font-weight: 600;
}