:host{
    display: flex;
    margin-top: 60px;
    height: 100%;
    width: 100%;
}
.menu{
    background-color: rgb(203, 253, 236);
    height: 100%;
    min-width: 150px;
}
.content{
    height: 100%;
    width: 100%;
    background-color: burlywood;
    padding-left: 10px;
}
li:hover{
    cursor: pointer;
    color: rgb(96, 96, 255);
}